# Secure profile - Enables OAuth2/OIDC authentication with Keycloak
spring:
  security:
    enabled: true
    oauth2:
      client:
        registration:
          keycloak:
            client-id: catbox-server
            client-secret: catbox-server-secret
            scope:
              - openid
              - profile
              - email
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/realms/catbox
            user-name-attribute: preferred_username

logging:
  level:
    org.springframework.security: DEBUG
