spring:
  application:
    name: order-service

  # This app only needs to know about its database
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=catbox;encrypt=true;trustServerCertificate=true
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    username: sa
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        
  # Enable virtual threads
  threads:
    virtual:
      enabled: true

server:
  port: 8080

logging:
  structured:
    format:
      console: ecs
  level:
    com.example: INFO
